@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: url("#");
    display: flex;
    background-color: rgb(189, 139, 98);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(18, 82, 18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
/*----------------------------LOGO----------------------------*/

.logo{
    font-size: 32px;
    color: white;
    font-weight: 700;
    
}
/*----------------------------LOGO----------------------------*/

/*----------------------------NAVBAR----------------------------*/
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;

}

.navbar a:hover::before{
    width: 100%;  
}
/*----------------------------NAVBAR----------------------------*/

/*----------------------------SECTION 1----------------------------*/

.banner .bannerImage{
    width: 100%;
    object-fit: fill;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: grayscale(0%);

}
/*TEXT*/
.welcomeText{
    width: 50%;
    color: white;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border: 5px solid rgb(18, 82, 18);
    padding: 25px;
    margin: 20px;
    background-color: rgb(18, 82, 18);
    opacity: .8;
}
.welcomeText h1{
    font-size: 62px;

}
.welcomeText p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
/*TEXT*/

/*BUTTON*/
.bannerButton{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 5px solid white;
    border-radius: 20px;
    padding: 15px 55px;
    font-size: 25px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: .3s;   
}
.bannerButton:hover{
    border: 1px solid white;
    background: white;
    transform: 0.3s;
    color: rgb(18, 82, 18);

}

/*BUTTON*/


/*----------------------------SECTION 1----------------------------*/


/*----------------------------BEST SELLERS----------------------------*/
.bestSelling{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
h1{
    font-size: 50px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 25px;
    font-weight: 300;
    line-height: auto;
    padding: 5px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between  ;
}
.bestSelling-col{
    flex-basis: 31%;
    background-color: white;
    border: 2px solid transparent;
    margin-bottom: 5%;
    padding: 5px 10px;
    box-sizing: border-box;
    transition: 0.5s;
    border-radius: 50px;
    border-color: rgb(18, 82, 18);
    

}
.bestSelling-col img{
    height: auto;
    width: 300px;
}

.bestSelling-col h3{
    text-align: center;
    font-size: 27px;
    margin: 10px 0;
}

.bestSelling-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(18, 82, 18);
    color: white;
}


/*----------------------------BEST SELLERS----------------------------*/

/*----------------------------ABOUT US----------------------------*/
.aboutUs{
    width: 100%;
    height: 100vh;
    padding: 90px 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.about{
    
    margin: 0 auto;
    display: flex;
    align-items: left;
    justify-content: space-around;
}
.aboutPic1{
    display: block;
    width: 50%;
    height: auto;
    margin-right: 20px;
    margin-right: auto;
    object-fit: cover;
}
.aboutText{
    width: 900px;
}
.aboutText h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 5px;
}
.aboutText h2{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 5px;
}
.aboutText p{
    font-size: 20px;
    margin-bottom: 20px;
}



/*---------------------------- CONTACT US----------------------------*/

.Contact {
    display: flex;
    align-items: top;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin-bottom: 100px;
  }
  
  .Contact img {
    width: 50%;
    height: auto;
    margin-right: 20px;
    object-fit: cover;
  }
  
  .Contact .aboutText {
    text-align: left;
    margin-left: 250px;
  }

/*----------------------------FOOTER----------------------------*/

body{
    min-height: 100vh;
    background: url("#");
    display: flex;
    background-color: white;
    justify-content: flex-end;
    align-items: flex-end;
}

footer{
   position: relative;
   width: 100%;
   background-color: rgb(18, 82, 18);
   min-height: 100px;
   padding: 20px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   z-index: 150;
}

footer .mediaIcons, footer .footerMenu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10x 0;
    flex-wrap: wrap;
}

.footer .mediaIcons li, footer .footerMenu li{
    list-style: none;

}

.footer .mediaIcons li a, footer .footerMenu li a{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.3s;
}

.footer .mediaIcons li a:hover{
    transform: translateY(-10px);
}

footer .footerMenu li a{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.3s;
    text-decoration: none;
    opacity: 0.75;
}

footer .footerMenu a:hover{
    opacity: 1;
}

footer p{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
}
/*----------------------------FOOTER----------------------------*/

/*----------------------------RECIPE IMAGE----------------------------*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0; /* Increased space at the bottom of the body */
}

.image-section {
    text-align: center;
    margin-top: 100px; /* Moved the image up the page */
    position: relative;
}

.interactive-image {
    width: 100%; /* Adjusted the width of the image */
    max-width: 600px; /* Set a maximum width if necessary */
    border-radius: 8px;
}

.interactive-button {
    position: absolute;
    top: 70%; /* Adjusted the vertical position of the button */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(18, 82, 18);
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.interactive-button:hover {
    background-color: rgb(18, 82, 18);
}
/*----------------------------RECIPE IMAGE----------------------------*/

/*----------------------------RECIPE----------------------------*/
.hero{
    height: 40vh;
    background: url(images/welcome\ page\ nuts.jpg) center/cover no-repeat;
    margin-bottom: 2rem;
    margin-top: 20px;
    border-radius: var(--borderRadius);
    position: relative;
}
.hero-container{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--borderRadius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
    color: var(--white);

}

@media screen and (min-width:760){
    .hero-text h1{
        font-size: 4rem;
        margin-bottom: 0;
    }
}


/*----------------------------RECIPE----------------------------*/

